name : Pipeline

on:
  pull_request:
    branches:
      - dev
      - main
      - release/*
    paths:
      - 'docker-compose-server.yml'
      - 'docker-compose-stage.yml'
      - 'backend/**'
      - 'frontend/**'
      - 'nginx.conf'
      - '.github/workflows/github-ci.yml'
      - 'infra/**'
  push : 
    branches :
      - main
      - release/*
    paths : 
      - 'docker-compose-server.yml' 
      - 'docker-compose-stage.yml'
      - 'backend/**'
      - 'frontend/**'
      - 'nginx.conf'
      - '.github/workflows/github-ci.yml'
      - 'infra/**'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  REPOSITORY: maeldem/projet_devops

jobs : 

  linting : 
    if: |
      (github.event_name == 'push' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/'))) ||
      (
        github.event_name == 'pull_request' && (
          (github.base_ref == 'dev') ||
          (github.base_ref == 'main' && github.head_ref == 'dev') ||
          (startsWith(github.base_ref, 'release/') && github.head_ref == 'dev') ||
          (github.base_ref == 'main' && startsWith(github.head_ref, 'release/'))
        )
      )
    runs-on : ubuntu-latest
  
    steps : 
      - name : Checkout branch
        uses : actions/checkout@v4
        with: 
          fetch-depth: 0

      - name : Setup Bun
        uses : oven-sh/setup-bun@v2

      - name : Cache Bun dependencies
        uses : actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lockb') }}
          restore-keys: ${{ runner.os }}-bun-

      - name : Install dependencies
        run : bun install
      
      - name : Run Linters
        run : bun run ci
  
  test-frontend :

    needs : linting
    if: |
      (github.event_name == 'push' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/'))) ||
      (
        github.event_name == 'pull_request' && (
          (github.base_ref == 'dev') ||
          (github.base_ref == 'main' && github.head_ref == 'dev') ||
          (startsWith(github.base_ref, 'release/') && github.head_ref == 'dev') ||
          (github.base_ref == 'main' && startsWith(github.head_ref, 'release/'))
        )
      )
    runs-on : ubuntu-latest

    steps : 
      - name : Checkout branch
        uses : actions/checkout@v4
        with: 
          fetch-depth: 0

      - name : Setup Bun
        uses : oven-sh/setup-bun@v2

      - name : Cache Bun dependencies
        uses : actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lockb') }}
          restore-keys: ${{ runner.os }}-bun-

      - name : Install dependencies
        run : bun install
        working-directory: ./frontend


      - name : Run tests  
        run : bun test
        working-directory: ./frontend


  test-backend : 

    needs : linting
    if: |
      (github.event_name == 'push' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/'))) ||
      (
        github.event_name == 'pull_request' && (
          (github.base_ref == 'dev') ||
          (github.base_ref == 'main' && github.head_ref == 'dev') ||
          (startsWith(github.base_ref, 'release/') && github.head_ref == 'dev') ||
          (github.base_ref == 'main' && startsWith(github.head_ref, 'release/'))
        )
      )
    runs-on : ubuntu-latest

    steps : 
      - name : Checkout branch
        uses : actions/checkout@v4
        with: 
          fetch-depth: 0

      - name : Setup Bun
        uses : oven-sh/setup-bun@v2

      - name : Cache Bun dependencies
        uses : actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lockb') }}
          restore-keys: ${{ runner.os }}-bun-

      - name : Install dependencies
        run : bun install
        working-directory: ./backend


      - name : Run tests
        run : bun test
        working-directory: ./backend

  snyk-security-frontend:
    needs: test-frontend
    if: |
      (github.event_name == 'push' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/'))) ||
      (
        github.event_name == 'pull_request' && (
          (github.base_ref == 'dev') ||
          (github.base_ref == 'main' && github.head_ref == 'dev') ||
          (startsWith(github.base_ref, 'release/') && github.head_ref == 'dev') ||
          (github.base_ref == 'main' && startsWith(github.head_ref, 'release/'))
        )
      )
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install Snyk CLI
        run: npm install -g snyk

      - name: Install Frontend Dependencies
        working-directory: ./frontend
        run: bun install

      - name: Scan Frontend
        working-directory: ./frontend
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: snyk test --auth=${{ secrets.SNYK_TOKEN }}

  snyk-security-backend:
    needs: test-backend
    if: |
      (github.event_name == 'push' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/'))) ||
      (
        github.event_name == 'pull_request' && (
          (github.base_ref == 'dev') ||
          (github.base_ref == 'main' && github.head_ref == 'dev') ||
          (startsWith(github.base_ref, 'release/') && github.head_ref == 'dev') ||
          (github.base_ref == 'main' && startsWith(github.head_ref, 'release/'))
        )
      )
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install Snyk CLI
        run: npm install -g snyk

      - name: Install Backend Dependencies
        working-directory: ./backend
        run: bun install

      - name: Scan Backend
        working-directory: ./backend
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: snyk test --auth=${{ secrets.SNYK_TOKEN }}


  build-and-push-backend :
    needs: snyk-security-backend
    if: |
      always() &&
      (
        (github.event_name == 'push' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/'))) ||
        (
          github.event_name == 'pull_request' && (
            (github.base_ref == 'main' && github.head_ref == 'dev') ||
            (github.base_ref == 'main' && startsWith(github.head_ref, 'release/'))
          )
        )
      ) &&
      (needs.snyk-security-backend.result == 'success' || needs.snyk-security-backend.result == 'skipped')
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.backend_meta.outputs.version }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Extract backend metadata
        id: backend_meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/backend
          tags : |
            type=sha, format=short

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/'))
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build & push backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: ${{ github.event_name == 'push' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/')) }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ${{ steps.backend_meta.outputs.tags }}
  
  build-and-push-frontend :
    needs : snyk-security-frontend
    if: |
      always() &&
      (
        (github.event_name == 'push' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/'))) ||
        (
          github.event_name == 'pull_request' && (
            (github.base_ref == 'main' && github.head_ref == 'dev') ||
            (github.base_ref == 'main' && startsWith(github.head_ref, 'release/'))
          )
        )
      ) &&
      (needs.snyk-security-frontend.result == 'success' || needs.snyk-security-frontend.result == 'skipped')
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.frontend_meta.outputs.version }}

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Extract frontend metadata
        id: frontend_meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/frontend
          tags : |
            type=sha, format=short

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/'))
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Build & push frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: ${{ github.event_name == 'push' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/')) }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ${{ steps.frontend_meta.outputs.tags }}

  deploy-application-stage:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/heads/release/')
    needs: [build-and-push-backend, build-and-push-frontend]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: copy docker-compose-stage.yml and infra/ to stage server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.STAGE_SSH_HOST }}
          username: ${{ secrets.STAGE_SSH_USER }}
          key: ${{ secrets.STAGE_SSH_KEY }}
          source: |
            docker-compose-stage.yml
            infra/**
          target: ~/

      - name: Deploy to stage server
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.STAGE_SSH_HOST }}
          username: ${{ secrets.STAGE_SSH_USER }}
          key: ${{ secrets.STAGE_SSH_KEY }}
          script: |
            IMAGE_TAG="${{ needs.build-and-push-backend.outputs.image_tag }}"
            if [ -z "$IMAGE_TAG" ]; then
              echo "Error: IMAGE_TAG is not set. Exiting."
              exit 1
            fi

            export IMAGE_TAG="$IMAGE_TAG"
            export POSTGRES_DB="${{ secrets.POSTGRES_DB }}"
            export POSTGRES_USER="${{ secrets.POSTGRES_USER }}"
            export POSTGRES_PASSWORD="${{ secrets.POSTGRES_PASSWORD }}"
            export GRAFANA_ADMIN_USER="${{ secrets.GRAFANA_ADMIN_USER }}"
            export GRAFANA_ADMIN_PASSWORD='${{ secrets.GRAFANA_ADMIN_PASSWORD }}'

            docker compose -f ~/docker-compose-stage.yml down
            docker image prune -f
            docker pull ${{ env.REGISTRY }}/${{ env.REPOSITORY }}/backend:${IMAGE_TAG}
            docker pull ${{ env.REGISTRY }}/${{ env.REPOSITORY }}/frontend:${IMAGE_TAG}
            docker compose -f ~/docker-compose-stage.yml up -d
  
  deploy-application:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: [build-and-push-backend, build-and-push-frontend]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: copy docker-compose.yml and nginx.conf to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          source: |
            docker-compose-server.yml
            infra/
          target: ~/

      - name: Deploy to server
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            IMAGE_TAG="${{ needs.build-and-push-backend.outputs.image_tag }}"
            if [ -z "$IMAGE_TAG" ]; then
              echo "Error: IMAGE_TAG is not set. Exiting."
              exit 1
            fi

            export IMAGE_TAG="$IMAGE_TAG"
            export POSTGRES_DB="${{ secrets.POSTGRES_DB }}"
            export POSTGRES_USER="${{ secrets.POSTGRES_USER }}"
            export POSTGRES_PASSWORD="${{ secrets.POSTGRES_PASSWORD }}"
            export GRAFANA_ADMIN_USER="${{ secrets.GRAFANA_ADMIN_USER }}"
            export GRAFANA_ADMIN_PASSWORD='${{ secrets.GRAFANA_ADMIN_PASSWORD }}'
            export LETSENCRYPT_PATH="${{ secrets.LETSENCRYPT_PATH }}"

            docker compose -f ~/docker-compose-server.yml down
            docker image prune -f
            docker pull ${{ env.REGISTRY }}/${{ env.REPOSITORY }}/backend:${IMAGE_TAG}
            docker pull ${{ env.REGISTRY }}/${{ env.REPOSITORY }}/frontend:${IMAGE_TAG}
            docker compose -f ~/docker-compose-server.yml up -d