name : Pipeline

on:
  push : 
    branches : pipeline
    paths : 
      - 'docker-compose.yml' 
      - 'backend/**'
      - 'frontend/**'
      - '.github/workflows/github-ci.yml'

# concurrency:
#   group: ${{ github.workflow }}-${{ github.ref }}
#   cancel-in-progress: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  REPOSITORY: maeldem/projet_devops

jobs : 

  linting : 
    runs-on : ubuntu-latest
  
    steps : 
      - name : Checkout branch
        uses : actions/checkout@v4
        with: 
          fetch-depth: 0

      - name : Setup Bun
        uses : oven-sh/setup-bun@v2

      - name : Install dependencies
        run : bun install
      
      - name : Run Linters
        run : | 
          bun run check 
          bun run ci

      - name: Commit changes if any
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # if: ${{ github.actor != 'github-actions' }}
        run: |
          git diff --exit-code || {
            echo "Changes detected. Committing changes..."

              git config --global user.name "github-actions"
              git config --global user.email "actions@github.com"

              git add .
              git commit -m "Apply code formatting and linting fixes"
              git push origin HEAD
            }
  
  test-frontend :

    needs : linting
    runs-on : ubuntu-latest

    steps : 
      - name : Checkout branch
        uses : actions/checkout@v4
        with: 
          fetch-depth: 0

      - name : Setup Bun
        uses : oven-sh/setup-bun@v2

      - name : Install dependencies
        run : bun install
        working-directory: ./frontend


      - name : Run tests  
        run : bun test
        working-directory: ./frontend


  test-backend : 

    needs : linting
    runs-on : ubuntu-latest

    steps : 
      - name : Checkout branch
        uses : actions/checkout@v4
        with: 
          fetch-depth: 0

      - name : Setup Bun
        uses : oven-sh/setup-bun@v2

      - name : Install dependencies
        run : bun install
        working-directory: ./backend


      - name : Run tests
        run : bun test
        working-directory: ./backend


  build-and-deploy-backend :
    needs : test-backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Extract backend metadata
        id: backend_meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/backend
          tags : |
            type=sha, format=short

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build & push backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ${{ steps.backend_meta.outputs.tags }}
  
  build-and-deploy-frontend :
    needs : test-frontend
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Extract frontend metadata
        id: frontend_meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/frontend
          tags : |
            type=sha, format=short

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Build & push frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ${{ steps.frontend_meta.outputs.tags }}

      

  
